{% extends "base.html" %}
{% block baseheader_includes %}
	<link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/js/underscore-1.1.7.min.js"></script>
{% block header_includes %}{% endblock %}
{% endblock baseheader_includes %}

{% block grid_includes %}
    <div class="grid_12"id="header">
	    <ul>
		    <li><a href="/">Publiskā lapa</a></li>
		    <li><a href="/admin">Pievienot saturu</a></li>
		    <li><a href="/admin/edit_log">Labot pierakstus</a></li>
		    <li><a href="/admin/edit_stuff">Labot sarakstu</a></li>
		    <li><a href="/admin/edit_ttext">Labot šablonus</a></li>
	    </ul>
        {% block menu_includes %}{% endblock %}
    </div>
    <div class="clear"></div>
    {% block content %}{% endblock content %}
{% endblock grid_includes %}
