{% extends "base.html" %}
{% block baseheader_includes %}
	<link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen" charset="utf-8" />
    {% block header_includes %}{% endblock %}
{% endblock baseheader_includes %}

{% block grid_includes %}
    <div class="grid_12"id="header">
	    <ul>
		    <li><a href="/">Publiskā lapa</a></li>
		    <li><a href="/admin">Pievienot saturu</a></li>
		    <li><a href="/admin/edit_log">Labot pierakstus</a></li>
		    <li><a href="/admin/edit_stuff">Labot sarakstu</a></li>
		    <li><a href="/admin/edit_ttext">Labot šablonu tekstus</a></li>
	    </ul>
        {% block menu_includes %}{% endblock %}
    </div>
    <div class="clear"></div>
    {% block content %}
    <div class="grid_12">
	    <h2>Add log</h2>
	    <form action="/admin/post_log" method="post">
		    <div><input type="text" name="number" value="" /><div />
			<textarea name="content" rows="3" cols="60"></textarea>
            <div><input type="submit" value="Add log"></div>
	    </form>
	    <h2>Add stuff</h2>
	    <form action="/admin/post_stuff" method="post">
			<div><input type="text" name="number" value="" /><div />
			<textarea name="content" rows="3" cols="60"></textarea>
			<div><span>Progress:</span><input type="text" name="progress" value="0" /><div />
			<div><span>Kopējais:</span><input type="text" name="total" value="" /><div />
            <div><input type="submit" value="Add stuff"></div>
	    </form>
	    <h2>Add template text</h2>
	    <form action="/admin/post_ttext" method="post">
		    <div><input type="text" name="name_short" value="" /><div />
			<textarea name="content" rows="3" cols="60"></textarea>
            <div><input type="submit" value="Add txt"></div>
	    </form>
    </div>
    {% endblock content %}
{% endblock grid_includes %}
