{% extends "base-public.html" %}
{% block header_includes %}
<script type="text/javascript">
$(document).ready(function() {
    $('a[href^="http"]').addClass('extLink');
    $('a[href^="/s/"]').addClass('goalLink');
});
</script>
{% endblock header_includes %}
{% block content %}
<div class="grid_7">
{% for log in logs %}
    <div class="log_entry">
    <a href="/log/{{ log.key.id }}">115</a>
    {{ log.display }}
    </div>
    <div class="afterEntry">
        <abbr class="desc" title="{{ log.date|date:"Y.m.d. H:i" }}">{{ log.daynr.days }}. diena.</abbr>
        <span class="desc">Saistītie mērķi:</span>
        {% for s in log.numbers %}
            <a title="{{ s.title }}" class="goalLink" href="/s/{{ s }}">#{{ s }}</a>
        {% endfor %}
    </div>
{% endfor %}
<div id="nav">
    {% if newer %}
        {% ifequal newer 0 %}
            <a class="navbutton" href="/">Jaunāki pieraksti</a>
        {% else %}
            <a class="navbutton" href="{{ newer }}">Jaunāki pieraksti</a>
        {% endifequal %}
    {% endif %}
    {% if spacer %}
        <span class="desc">|</span>
    {% endif %}

    {% if older %}
        <a class="navbutton" href="{{ older }}">Vecāki pieraksti</a>
    {% endif %}
</div>
</div>
{% endblock content %}
