{% extends "base-public.html" %}

{% block header_includes %}
<link rel="stylesheet" href="/css/ui.css" type="text/css" />
<script type="text/javascript" src="/js/jquery-ui-1.8.8.custom.min.js"></script>
<script type="text/javascript">
$(function() {
    $('a[href^="http"]').addClass('extLink');
    $('a[href^="/s/"]').addClass('goalLink');
    $('#stuff_progress').progressbar({
        value: {{ stuff.percent|default:0 }}
    });
});
</script>
<style type="text/css">
.ui-widget-header {
    background-color:#69434e;
    border:1px solid#b3d9e2;
    }
.ui-progressbar {
    width:60%;
    }
</style>
{% endblock %}

{% block content %}
<div class="grid_8">
{% if stuff %}
<h1>#{{ stuff.number }} - {{ stuff.content }}</h1>
    <div id="stuff_progress"></div>
    <p id="progress">Šībrīža progress:
    {{ stuff.percent }}% ({{ stuff.progress }} / {{ stuff.total }})</p>
{% endif %}
{% for log in logs %}
    <div class="log_entry">
            {{ log.display }}
    </div>
    <div class="afterEntry">
        <abbr class="desc" title="{{ log.date|date:"Y.m.d. H:i" }}">{{ log.daynr.days }}. diena.</abbr>
        {% if log.numbers %}
            <br />
            <span class="desc">Citi saistītie mērķi:</span>
            {% for s in log.numbers %}
            <a class="goalLink" href="/s/{{ s }}">#{{ s }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
<div id="nav">
    {% if newer %}
            <a class="navbutton" href="{{ newer }}">Jaunāki pieraksti</a>
    {% endif %}
    {% if spacer %}
        <span>|</span>
    {% endif %}

    {% if older %}
        <a class="navbutton" href="{{ older }}">Vecāki pieraksti</a>
    {% endif %}
</div>
</div>
{% endblock content %}
