{% extends "base-public.html" %}
{% block saturs %}
<p class="aboutText">
Mani sauc Kārlis, esmu no <a href="http://lv.wikipedia.org/wiki/Āgenskalns">Āgenskalna</a>, 20 gadus jauns un neprecējies. www.101lieta.lv ir sevis pilnveidošanas, laika īsināšanas un vareno ieceru īstenošanas avantūra. Kā jau nosaukumā teikts, esmu sev uzstādījis 101 mērķi, kas jāsasniedz 1001 dienas laikā (tas ir, no 2010. gada 11. oktobra līdz 2013. 8. jūlijam). <a href="/">Galvenajā lapā</a> var redzēt cik tālu esmu ticis.
</p>
<p class="aboutText">
Iedvesma šādam projektam radās, kad biju nejauši uzgājis <a href="http://signis.lv">Sigņa blogu</a> (un caur to arī <a href="http://dayzeroproject.com">Day Zero</a>, kas ir šādas iniciatīvas autori un galvenais portāls). Esmu pēc dabas ļoti slinks un man vajadzēja kādu atskaites punktu (day zero!), <i>ceļa karti</i>, kur pasmelties idejas, lai gāztu kalnus, un visādu foršu sīkumu sarakstu, ko varētu sadarīt.
</p>
<p class="aboutText">
Šo mērķu izpilde nekādā ziņā nav jāveic &quot;lepnā vientulībā&quot;, gluži pretēji: piemēram <a class="inner" href="/s/63">#63</a> vai <a class="inner" href="/s/40">#40</a> nemaz nevar īstenot bez komrādiem. 101 lietas saraksts var kalpot arī Tev, lai (saprāta robežās) mani pabakstītu un sarunātu uz kādu kopīgu avantūru. Vairums no lietu saraksta nav tādas &quot;izdarīt-atķeksēt-aizmirst&quot;, cipari nekādi neierobežo.
</p>
<p class="aboutText">
Lietu secība sarakstā nav svarīga, patiesībā tur lietas ir sakārtotas pavisam nejauši (ar <a href="http://www.commandlinefu.com/commands/view/6267/">šīs te rindiņas</a> palīdzību). Komentāri pie rakstiem nav viena iemesla dēļ: man ir slinkums tādu uztaisīt. Iespējams (neko nesolu), ka tāda iespēja būs. Vari mani sakontaktēt rakstot uz skazhy[PIE]gmail.com 
</p>
<p class="aboutText">
Lapa uzkodēta paša rokām, ar <a href="http://code.google.com/appengine/">Google App Engine</a> un <a href="http://python.org">Paitōnu</a>,  &quot;dizains&quot; salikts ar <a href="http://inkscape.org">Inkscape</a> un viss pierakstīts ar lielisko teksta redaktoru <a href="http://www.vim.org"> Vim</a>. Lapā nav reklāmu, jo es negribu piedrazot lapas saturu (uzspied uz pūces bildes lapas apakšā un palasi vairāk), kā ari es īpaši nesatraucos par autortiesībām. Teksti jau nekur īpaši nav izmantojami, bet bildes vari izmantot brīviem nolūkiem. 
</p>
{% endblock %}
