{% extends "base-public.html" %}
{% block header_includes %}
<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#display_all').hide();
    $('#display_c').click( function() { display(this,'c'); });
    $('#display_s').click( function() { display(this,'s'); });
    $('#display_ns').click( function() { display(this,'ns'); });
    $('#display_all').click( function() { display_all(this); });
});
function display_all(button) {
    $('.stuff_menu').add('.stuff_entry').show();
    $(button).hide();
}
function display(button,mode) {
    $('.stuff_menu').add('.div_'+mode).show();
    $('.stuff_entry').not('.div_'+mode).add(button).hide();
}
</script>
{% endblock header_includes %}

{% block sidebar_includes %}
<ul id="menulist">
   	<li class="stuff_menu" id="menu_header">Atlasīt:</li>
    <li class="stuff_menu" id="display_ns">neiesāktos</li>
    <li class="stuff_menu" id="display_s">iesāktos</li>
    <li class="stuff_menu" id="display_c">pabeigtos</li>
    <li class="stuff_menu" id="display_all">visus</li>
</ul>
{% endblock sidebar_includes %}

{% block content %}
<div class="grid_9">
    {% for stuff in stufflist %}
        <div class="stuff_entry div_{{ stuff.status }}">
            <span class="{{ stuff.status }} stuff_nr">{{ stuff.number }}.</span>
            <a href="/s/{{ stuff.number }}" class="{{ stuff.status }} stuff_content">{{ stuff.content }}</a>
		    <span class="{{ stuff.status }} stuff_progress">{ {{ stuff.progress }} / {{ stuff.total }} }</span>
        </div>
	{% endfor %}
</div>
{% endblock content %}
