{% extends "base-public.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" media="screen" href="css/stuff.css" />
{% endblock %}
{% block saturs %}
	{{ tt }}
    {% for stuff in stufflist %}
	<div class="stuffentry">
	{% if stuff.completed %}
		<span class="comp">{{ stuff.number }}.</span>
		<span class="comp lightRed"><a href="/s/{{ stuff.number }}"> {{ stuff.content }}</a></span>
		<span class="comp">[ {{stuff.progress}} | {{stuff.total}} ]</span>
	{% else %}
		<span>{{ stuff.number }}.</span>
		<span class="incomp"><a href="/s/{{ stuff.number }}">{{ stuff.content }}</a></span>
		<span class="stuffprogress">[ {{stuff.progress}} | {{stuff.total}} ]</span>
	{% endif %}
	</div>
	{% endfor %}
{% endblock %}
