/* globaalie */
body {
	width:950px;
	margin:0 auto;
	font-family:sans;
}
p { 
	color: #241c1f;
}
img { border:none; }
a { text-decoration:none; }


/* saturs */
div#globalWrap {
	border-left: 2px solid #87cdde;
	border-right: 2px solid #de8787;
	padding:50px 0;
}


/* hederis */
div#header {
	margin:0 auto;
	width:673px;
}

#logoImg { margin:20px 0; }

ul#menu li {
	margin:0 20px;
	font-size:1.3em;	
	display:inline;
}

.lightBlue a, .lightBlue { color:#87cdde; }

.lightRed a, .lightRed { color:#de8787; }

#contentWrap {
	width:920px;
	padding-top:50px;
	margin:20px auto;
}

/* footeris */
div#footer {
	padding:50px 0;
	background-image:url('/img/footer.png');
	background-repeat:no-repeat;
	margin:0 auto;
}

#adfree {
	display:block;
	margin:0 auto;
	padding-top:20px;
}

/* par projektu */
.aboutText {
	line-height:1.5;
	text-indent:5%; 
	text-align:justify;
	padding-bottom:20px;
	background-image:url('/img/spacer.png');
	background-repeat:no-repeat;
	background-position:bottom center;
}

.frontPage {
	line-height:1.5;
	text-indent:2%;
	text-align:justify;
	padding-bottom:10px;
}
#contentWrap p:last-child, #contentWrap div.aboutText:last-child {
	background-image:none;
	padding-bottom:0;
}

.logcontent a, p.aboutText a, p.frontPage a  {
	color:#000;
	background-color:#87cdde;
}

.logcontent a.inner, .aboutText a.inner {
	color:#000;
	background-color:#de8787;
}
